<div class="container">
  <div class="row mt-5 mb-4">
    <button class="btn btn-primary">Ingresar usuario</button>
  </div>
  <div class="col-lg-12 col-sm-12 col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha nacimiento</th>
          <th scope="col">Edad</th>
          <th scope="col">Dias restantes</th>
          <th scope="col">Felicitaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Matias Alberto</td>
          <td>Pinto Ramirez</td>
          <td>01/12/1995</td>
          <td>24</td>
          <td>325</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>