<div class="container mt-5">
  <div class="col-lg-12 col-sm-12 col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha nacimiento</th>
          <th scope="col">Edad</th>
          <th scope="col">Dias restantes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <td>{{usuario.primerNombre}} {{usuario.segundoNombre}}</td>
          <td>{{usuario.appPaterno}} {{usuario.appMaterno}}</td>
          <td>{{usuario.fechaNacimiento}}</td>
          <td>{{usuario.edad}}</td>
          <td *ngIf="usuario.diasFaltantesCumple">faltan {{usuario.diasFaltantesCumple}} dias</td>
          <td *ngIf="!usuario.diasFaltantesCumple"><a class="cursor-pointer" (click)="verPoema(usuario.felicitaciones)"
            data-toggle="modal" data-target="#modalFelicidades"
            ><i class="fas fa-birthday-cake"></i> Ver poema</a></td>
        </tr>
      </tbody>
    </table>
    <div class="col-lg-12">
      <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div>
      <nav aria-label="...">
        <ul class="pagination pagination-sm">
          <li *ngFor="let pagina of numerosPagina" class="page-item" [ngClass]="{'page-item active': paginaActiva==pagina}">
            <a class="page-link cursor-pointer" (click)="cambiarPagina(pagina);">{{pagina + 1}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal para mostrar poema-->
<div class="modal fade" id="modalFelicidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Felicidades!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{felicitacionActiva}}
      </div>
    </div>
  </div>
</div>